name: ci-labels

on:
  pull_request:
    paths:
      - 'labels/**'
      - '.github/workflows/ci-labels.yml'

jobs:

  ci-labels:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Lint labels
        run: |
          cd labels
          task lint
      - name: Check that the repository is clean
        run: |
          cd labels
          task no-dirty
      - name: Clean the repository
        run: |
          cd labels
          task mrproper
          task no-dirty
