name: ci-taskfiles

on:
  pull_request:
    paths:
      - 'taskfiles/**'
      - '.github/workflows/ci-taskfiles.yml'

jobs:

  ci-taskfiles:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install dependencies
        run: |
          cd taskfiles
          task install
      - name: Lint taskfiles
        run: |
          cd taskfiles
          task lint
      - name: Check that the repository is clean
        run: |
          cd taskfiles
          task no-dirty
      - name: Clean the repository
        run: |
          cd taskfiles
          task mrproper
          task no-dirty
